h1, h2, h3{
    line-height: 35px;
}

#navbar{
    padding-bottom: 20px;
}

#navbar .logo{
    float: none;
    text-align: center;
}

#navbar ul, #navbar ul li {
    float: none;
}

#navbar ul, #navbar ul li a{
    border-bottom: 1px dotted #444;
}

#showcase {
    min-height: 100%;
    padding-bottom: 20px;
}

#showcase .showcase-content{
    padding-top: 70px;
}

#home-info{
    height: 100%;
}

#home-info .info-img{
    display: none;
}

#home-info .info-content{
    float: none;
    width: 100%;
    min-height: 100%;
    text-align: center;
    padding: 50px 20px;
    overflow: hidden;
}

.box{
    float: none;
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted #333;
}

.py-3{
    padding: 20px;
}

#about-content .about-info,
#about-content .about-img{
    float: none;
    width: 100%;
    text-align: center;
}

#about-content .about-img img{
    padding-top: 20px;
    width: 50%;    
}

#testimonials{
    height: 100%;
}

#main-footer p{
    padding: 10px;
}