*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/*utility styes*/

h1, h2, h3{
    padding-bottom: 20px;
}

p{
    margin: 0;
}

.l-heading{
    font-size: 30px;
}

.py-3{
    padding: 30px 0;
}

.container{
    max-width: 1200px;
    padding: 0px 20px;
    overflow: auto;
    margin: auto;
}

.text-primary{
    color: #f7c08a;
}

.lead{
    font-size: 20px;
}

.clr{
    clear: both;
}

.btn{
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 13px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    background: #f7c08a;
    color: #444;
}

.bg-dark{
    background: #444;
    color: #fff;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-primary{
    background: #f7c08a;
    color: #333;
}

.box{
    float: left;
    padding: 50px;
    width: 33.3%;
    text-align: center;
}

#navbar{
    background: #333;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
    text-decoration: none;
}

#navbar .logo {
    float: left;
    padding-top: 20px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current{
    background: #444;
    color: #f7c08a;
}

/* index.html */ 

#showcase{
    background: url("../img/showcase.jpg") no-repeat center center/cover;
    min-height: 100%;
    padding-bottom: 40px;
}

#showcase .showcase-content{
    padding-top: 170px;
    text-align: center;
    color: #fff;
}

#showcase .showcase-content h1{
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p{
    font-size: 20px;
    padding-bottom: 20px;
}

#showcase .showcase-content a{
    text-decoration: none;
    display: inline-block;
}

#home-info{
    height: 400px;
}

#home-info .info-img{
    float: left;
    background: url('../img/photo-1.jpg') no-repeat;
    width: 50%;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    min-height: 100%;
    text-align: center;
    padding: 50px 20px;
    overflow: hidden;
}

#home-info .info-content a{
    text-decoration: none;
}

#home-info .info-content p{
    padding-bottom: 20px;
}

/* about.html */
#about-content .about-info{
    float: left;
    width: 50%;
    min-height: 100%;
}

#about-content .about-img{
    float: right;
    width: 50%;
    min-height: 100%;
}



#about-content .about-img img{
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

#testimonials {
    background: url('../img/test-bg.jpg') no-repeat center center/cover;
    height: 600px;
    padding-top: 100px;
}

#testimonials h2{
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}

#testimonials .testimonial{
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
    overflow: auto;
}

#testimonials .testimonial img{
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}


/* about.html */
#contact-form .form-content p{
    margin-bottom: 20px;
}

#contact-form .form-content .form-control label{
    display: block;
    padding-bottom: 20px;
}

#contact-form .form-content .form-control input,
#contact-form .form-content .form-control textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px #ddd solid;
}

#contact-form .form-content .form-control textarea{
    height: 200px;
}

#contact-detail h1{
    padding-top: 10px;
}

/* footer */

#main-footer{
    text-align: center;
    background: #333;
    color: #fff;
}

#main-footer p{
    margin: 0;
}